<% unless comment.archived? %>
  <br/>
  <p class='d-flex justify-content-center'>
    <strong>Commenter:</strong>
    <%= comment.user.email %>
  </p>

  <p class='d-flex justify-content-center'>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  
  <div class='d-flex justify-content-center'>
    <p class='d-flex justify-content-center'>
      <% if user_signed_in? %>
        <% if current_user.id == comment.user_id %>
            <%= form_with url: [comment.article, comment], method: :delete, id: 'delete_comment_form' do |form| %>
            <%= form.button 'Delete', class: 'btn btn-primary d-flex justify-content-center' %>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>
