<h1 class="d-flex px-5 py-3"><strong>Articles<strong></h1>

<div class="card px-3" style="left: 3.7%; width: 60%; background-color: rgba(0,0,0,0.1);">
  <h4 class="pt-3">Our blog has <%= Article.public_count %> articles and counting!</h4>
  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <%= link_to article.title, article %>
          
        </li>
      <% end %>
    <% end %>
  </ul>
</div>


