<nav class="navbar navbar-expand-sm navbar-dark bg-dark"> 

  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://static.vecteezy.com/system/resources/previews/005/921/462/non_2x/economics-chalk-white-icon-on-dark-background-graphs-diagrams-pencil-plan-report-preparation-economics-classes-in-schools-universities-isolated-chalkboard-illustration-on-black-vector.jpg"  class ="img-responsive" width="50">
      Articles
    </a>

    <button 
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav"
      class="navbar-toggler"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" href="/">
            Home
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/articles/new">
            New Article
          </a>
        </li>
      </ul>
    </div>
       <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Login", new_user_session_path, class: "nav-item nav-link" %>
        <% end %>
      </ul>
  </div>
</nav>
